<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link rel="stylesheet" href="/css/styles.css">
  <title><%=title%></title>
  <script>
    var token = document
      .querySelector('meta[name="csrf-token"]')
      .getAttribute("content");
    function deleteElection(id) {
      console.log("deleting");
      fetch(`/home/election/${id}/delete`, {
        method: "delete",
        headers: { "Content-type": "application/json" },
        body: JSON.stringify({
          "_csrf": token
        })
      })
        .then((res) => {
          if (res.ok) {
            window.location.reload();
          }
        })
        .catch((err) => console.error(err));
    }
  </script>
</head>
<body>
  <% const e_title = title + ": " + election.name%>
  <%- include("header", {text: e_title, signOutVis: true })%>
  <div class="flex items-center justify-between rounded-3xl bg-gray-200 m-5 p-5">
    <p class="text-2xl text-gray-800">You have <%=question.length%> Questions in this Election</p>
    <a href="<%=election.id%>/question" class="text-2xl text-white bg-green-600 rounded-xl p-2 w-56 text-center">Manage Questions</a>
  </div>
  <div class="flex items-center justify-between rounded-3xl bg-gray-200 m-5 p-5">
    <p class="text-2xl text-gray-800">You have 0 Voters in this Election</p>
    <a href="" class="text-2xl text-white bg-green-600 rounded-xl p-2 w-56 text-center">Manage Voters</a>
  </div>
  <a href="#" onclick="deleteElection(`<%= election.id%>`)" class="text-xl m-5 text-white bg-red-600 rounded-xl p-2 w-40 text-center">Delete Election</a>
</body>
</html>