<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/styles.css">
  <title><%=title%></title>
</head>
<body>
  <%- include("header", {text: title})%>
  <div class="flex items-center justify-between rounded-3xl bg-gray-200 m-5 p-5">
    <p class="text-2xl text-gray-800">You have <%=question.length%> Questions in this Election</p>
    <a href="/addquestion/<%=election.id%>" class="text-2xl text-white bg-green-600 rounded-xl p-2">Add Question</a>
  </div>
  <p class="text-2xl text-gray-800 ml-5">Your Questions</p>
  <div class="flex flex-col bg-gray-200 m-5">
    <% for(let i = 0; i< question.length; i++) {%>
      <p class="p-5 text-gray-800 border-b-2 border-gray-300"><%=question[i].name%></p>
      <%}%>
  </div>
</body>
</html>