<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link rel="stylesheet" href="/css/styles.css">
  <title><%=title%></title>
  <script>
    var token = document
      .querySelector('meta[name="csrf-token"]')
      .getAttribute("content");
    function startElection(id) { //Here oid is optionId
      console.log("Launching Election");
      fetch(`/home/election/${id}/launch-election`, {
        method: "put",
        headers: { "Content-type": "application/json", redirect: "follow" },
        body: JSON.stringify({
          "_csrf": token,
        })
      })
        .then((res) => {
          if (res.ok) {
            window.open(`/home/election/${id}`, "_self");
          }
        })
        .catch((err) => console.error(err));
    }
  </script>
</head>
<body>
  <% const e_title = election.name%>
  <%- include("header", {text: e_title, signOutVis: true })%>
  <% if(messages && messages.error && messages.error.length > 0)  { %>
    <% for(var i = 0; i < messages.error.length; i++) { %>
      <p class="bg-green-400 m-5 rounded px-4 py-2"><%= messages.error[i] %></p>
    <% } %>
  <% } %>
  <div class="m-5">
    <%for(let i = 0; i<question.length; i++){%>
      <div class="flex flex-col justify-start p-5 my-5 text-gray-600 bg-gray-100 drop-shadow-lg">
        <p class="text-2xl font-semibold"><%=i+1%>) <%=question[i].name%></p>
        <p class="text-sm mx-7"><%=question[i].description%></p>
        <div class="flex my-5">
        <%for(let j = 0; j<options[i].length; j++){%>
          <div class="flex items-center ml-5 pl-4 border-gray-300 border-2 w-60">
            <input type="radio" name="<%=question[i].name%>" id="<%=options[i][j].id%>" class="w-5 h-5">
            <label for="<%=options[i][j].id%>" class="ml-2 pr-4 py-2 w-full text-lg"><%=options[i][j].option_name%></label>
          </div>
        <%}%>
        </div>
      </div>
    <%}%>
  </div>
  <div class="flex items-center justify-start m-5">
    <a href="/home/election/<%=election.id%>" class="text-xl text-white bg-blue-800 rounded-xl p-2 mr-5 text-center w-40">Back</a>
    <%if (!election.electionStatus && !election.electionEnded) {%>
    <a href="#" onclick="startElection(`<%=election.id%>`)" class="text-xl text-center text-white bg-amber-600 rounded-xl p-2 mr-5 text-center w-60">Launch Election</a>
    <%}%>
  </div>
</body>
</html>