<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link rel="stylesheet" href="/css/styles.css">
  <title><%=title%></title>
  <script>
    var token = document
      .querySelector('meta[name="csrf-token"]')
      .getAttribute("content");
    function deleteQuestion(id, qid) {
      console.log("Deleting Question");
      fetch(`/home/election/${id}/question/${qid}/delete`, {
        method: "delete",
        headers: { "Content-type": "application/json", redirect: "follow" },
        body: JSON.stringify({
          "_csrf": token
        })
      })
        .then((res) => {
            if(res.ok) {
              window.open(`/home/election/${id}/question`, "_self");
            }
        })
        .catch((err) => console.error(err));
    }
    function deleteOption(id, qid, oid) { //Here oid is optionId
      console.log("Deleting Option");
      fetch(`/home/election/${id}/question/${qid}/option`, {
        method: "delete",
        headers: { "Content-type": "application/json", redirect: "follow" },
        body: JSON.stringify({
          "_csrf": token,
          oid,
        })
      })
        .catch((err) => console.error(err));
    }
  </script>
</head>
<body>
  <% const e_title = title + ": " + question.name%>
  <%- include("header", {text: e_title, signOutVis: true })%>
  <% if(messages && messages.error && messages.error.length > 0)  { %>
    <% for(var i = 0; i < messages.error.length; i++) { %>
      <p class="bg-green-400 m-5 rounded px-4 py-2"><%= messages.error[i] %></p>
    <% } %>
  <% } %>
  <div class="flex items-center justify-start m-5">
    <a href="./" class="text-xl text-white bg-blue-800 rounded-xl p-2 mr-5 w-40 text-center">Back</a>
    <a href="./<%=question.id%>/name" class="text-xl text-white bg-amber-600 rounded-xl p-2 mr-5 w-50 text-center">Change Question</a>
    <a href="./<%=question.id%>/description" class="text-xl text-white bg-amber-600 rounded-xl p-2 mr-5 w-60 text-center">Update Description</a>
    <a href="" onclick="deleteQuestion(`<%=id%>`,`<%= question.id%>`)" class="text-xl text-white bg-red-600 rounded-xl p-2 mr-5 w-40 text-center">Delete Question</a>
  </div>
  <p class="text-2xl text-gray-800 ml-5">Description</p>
  <div class="border bg-gray-200 m-5">
    <p class="p-5"><%=question.description%></p>
  </div>
  <form action="./<%=question.id%>/option" method="post" class="flex items-center justify-between m-5">
    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    <input type="hidden" name="questionId" value="<%=question.id%>">
    <input name="name" type="text" class="border border-green-600 rounded-xl p-5 text-2xl w-4/5" placeholder="Enter new option....">
    <button type="submit" class="text-2xl text-white bg-green-600 rounded-xl m-5 p-2 w-56 text-center">Add Option</button>
  </form>
  <p class="text-2xl text-gray-800 ml-5 mb-5">Your Options</p>
    <% for(let i = 0; i< option.length; i++) {%>
      <div class="flex items-center justify-between bg-gray-200 p-5 mx-5 border-b-2 border-gray-300 option-item">
        <p class="text-gray-800"><%=option[i].option_name%></p>
        <a href="" class="ml-2 hidden thrash-icon" onclick="deleteOption(`<%=id%>`,`<%= question.id%>`, `<%=option[i].id%>`)">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
        </a>
      </div>
      <%}%>
</body>
</html>